*
!public/
!.gitignore
!for_save.json
!roles_permissions.json
!rules.json
!balance.json
!chat_chat.json
!core_bans_active.json
!core_bans_if_modifed.json
!core_bans_proof.json
!core_bans.json
!core_muga_active.json
!core_muga_if_modifed.json
!core_muga.json
!core_nabor.json
!core_tags.json
!core_taunts.json
!news_post.json
!pointshop_categories.json
!pointshop_items.json
!user_discord_integrate.json
!user_familysharing.json
!user_groups.json
!user_ips.json
!user_musics.json
!user_naborvadmin.json
!user_online.json
!user_permaitems.json
!user_photos_a.json
!user_pointshop.json
!user_shopinv.json
!users.json
